[submodule "rpi-rgb-led-matrix"]
	path = rpi-rgb-led-matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix

[submodule "RGBMatrixEmulator"]
	path = RGBMatrixEmulator
	url = https://github.com/ty-porter/RGBMatrixEmulator